<% if user_signed_in? %>

<h2> You're logged in! </h2>
<%else %>

<div class="hero-unit">
 	<h1>Welcome to Rootu's Rails project</h1>
		<p>
			You have found the home page for 
			<%= link_to "Rootu's Rails", "http://onemonthrails.com" %>
			project!!
		</p>

		<p>
		 	<%= link_to "Sign Up Here", new_user_registration_path, class: "btn btn-primary btn-large" %>
		</p>
</div>
<% end %>